@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NewYork";
  src: url("../fonts/NewYork.woff");
  font-weight: 400;
  font-display: wrap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff");
  font-weight: 300;
  font-display: wrap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff");
  font-weight: 400;
  font-display: wrap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff");
  font-weight: 500;
  font-display: wrap;
}

:root {
  --baseHeaderHeight: 79px;
  --bgMain: rgb(234, 234, 234);
  --textMain: #564d42;
  --beigeMain: rgb(216, 208, 200);
  --beigeOpacity: #584f43;
  --blueOpacity: #e3e3e3;
  --beigeOther: #c4c4c4;
  --regular-1: #675f55;
  --regular-2: #969696;
}
